{:aliases
 {:dev {:extra-paths ["development/src"
                      "components/todo/src"
                      "bases/todo-api/src"]
        :extra-deps {org.clojure/clojure               {:mvn/version "1.12.2"}
                     metosin/reitit                    {:mvn/version "0.10.1"}
                     metosin/muuntaja                  {:mvn/version "0.6.11"}
                     ring/ring-jetty-adapter           {:mvn/version "1.15.3"}
                     com.github.seancorfield/next.jdbc {:mvn/version "1.3.1093"}
                     org.postgresql/postgresql         {:mvn/version "42.7.4"}}}
  :+default  {:extra-paths ["components/store-memory/src"
                             "components/store-memory/test"]}
  :+postgres {:extra-paths ["components/store-postgres/src"
                             "components/store-postgres/test"]}
  :test {:extra-paths ["components/todo/src"
                       "components/todo/test"]
         :extra-deps {org.testcontainers/testcontainers {:mvn/version "2.0.5"}
                      org.testcontainers/postgresql     {:mvn/version "1.21.4"}}}
  :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
         :jvm-opts ["--enable-native-access=ALL-UNNAMED"]
         :extra-deps {polylith/clj-poly {:mvn/version "0.3.32"}}}}}
